# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Let Quiz.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nhatn\RiderProjects\Let Quiz\.idea\.idea.Let Quiz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
