nav {
    background: #798188;
    height: 100vh;
}

.nav-link, .h2 {
    color: #ffffffd7;
}

.nav-link {
    font-size: 20px;
}

.h2 {
    font-size: 30px;
}

a {
    cursor: pointer;
}

.center {
    margin: 0 auto;
}

.form-question {
    width: 30%;
    margin: 0 auto;
}

.welcome_teacher {
    height: 100px;
    border: solid black 2px;
    font-size: 30px;
    padding: 50px 100px 50px 100px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.center-button {
    width: 100%;
    text-align: center;
}
