<div class="container">
    <div class="row" *ngIf="account">
        <div class="col-4">
            <h1>Your profile</h1>
        </div>
        <div class="col-8 mt-2">
            <div class="alert alert-info" *ngIf="editForm.dirty">
                <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="./assets/user.png" alt="{{account.name}}"
                     class="card-img-top img-thumbnail">
            </div>
            <div class="card-body">
                <div>
                    <strong>Username: </strong>
                    <p>{{account.username}}</p>
                </div>
                <div>
                    <strong>Name: </strong>
                    <p>{{account.name}}</p>
                </div>
                <div>
                    <strong>Role: </strong>
                    <p>{{account.isTeacher ? 'Teacher' : 'Student'}}</p>
                </div>
            </div>
        </div>
        <div class="col-8 mt-5">
            <form [formGroup]='editForm' id="editForm" (ngSubmit)="updateProfile()" autocomplete="off">
                <div class="form-group">
                    <h4>Name</h4>
                    <input type="text" name="name" class="form-control" [formControl]="editForm.controls['name']">
                    <span class="text-danger">{{nameErr}}</span>
                </div>
                <div class="form-group">
                    <h4 class="mt-2">Password</h4>
                    <input type="password" name="password" class="form-control" [formControl]="editForm.controls['password']">
                    <span class="text-danger">{{passErr}}</span>
                </div>
                <button [disabled]="!editForm.dirty" class="btn btn-info">Save Changes</button>
            </form>
        </div>
    </div>
</div>
