<div class="welcome_teacher center">Create Quizt</div>
<div class="row"> 
    <div class="center">
        <div>
            <form action="#" class="mx-auto mt-5" ngNativeValidate (ngSubmit)="onSubmit()">
                <p class="h3 text-center"></p>
                <div class="form-group">
                    <label>Quiz Name:</label>
                    <input type="text" name="NameQuiz" [(ngModel)]="quiz.name" class="form-control"
                           minlength="1" maxlength="500" required value="{{quiz.name}}"
                           placeholder="Content Question">
                </div>

                <div class="form-group">
                    <label>Password Quiz</label>
                    <input type="password" name="PasswordQuizt" [(ngModel)]="quiz.password" class="form-control"
                           maxlength="30" value="{{quiz.password}}"
                           placeholder="Password Quizt">
                </div>

                <div class="form-group">
                    <label>Duration :</label>
                    <input id="rangeInput" type="range" name="rangeprice" min="1" max="360" oninput="txtduration.value=rangeInput.value"
                           step="1" value="1" [(ngModel)]="quiz.duration" />
                    <input id="txtduration" type="number" value="1" [(ngModel)]="quiz.duration" name="txtduration" min="1" max="360" oninput="rangeInput.value=txtduration.value" />
                </div>

                <div class="form-group">
                    <p class="text-danger">{{ errorCreateQuestion }}</p>
                </div>
                <div class="center-button">
                    <div class="inline">
                        <a class="btn btn-outline-primary button" (click)="addQuestion()">Add Question</a>
                        <button class="btn btn-outline-primary button">Create Quiz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngFor="let question of listQuestion">
    <div class="card">
        <a>Question : {{question.content}}</a><br />
            <ol type="A" >
                 <li *ngFor="let answer of question.answers" class="{{answer.isCorrect? 'text-danger' : ''}}">{{answer.content}}</li>
            </ol>
        <a class="btn btn-secondary" (click)="removeQuestion(question.questionId)">Remove Question</a>
    </div>
</div>
