<div class="welcome_teacher">Create Quizt</div>
<div class="row">
    
    <div class="center">
        
        <div>
            <form action="#" class="mx-auto mt-5" ngNativeValidate (ngSubmit)="onSubmit()">
                <p class="h3 text-center"></p>
                <div class="form-group">
                    <label>Quiz Name:</label>
                    <input type="text" name="NameQuiz" [(ngModel)]="quiz.name" class="form-control"
                           maxlength="500" required value="{{quiz.name}}"
                           placeholder="Content Question">
                </div>

                <div class="form-group">
                    <label>Password Quiz</label>
                    <input type="password" name="PasswordQuizt" [(ngModel)]="quiz.password" class="form-control"
                           maxlength="30" required value="{{quiz.password}}"
                           placeholder="Password Quizt">
                </div>

                <div class="form-group">
                    <label>Duration :</label>
                    <input id="rangeInput" type="range" name="rangeprice" min="0" max="360" oninput="PriceEnd.value=rangeInput.value"
                           step="1" value="0" [(ngModel)]="quiz.duration"/>
                    <input id="PriceEnd" type="number" value="0" [(ngModel)]="quiz.duration" name="txtpriceend" min="0" max="360" oninput="rangeInput.value=PriceEnd.value" />
                </div>

                <div class="form-group">
                    <p class="text-danger">{{ errorCreateQuestion }}</p>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Create Quiz</button>
                </div>

            </form>
        </div>
        <form action="#" class="mx-auto mt-5" ngNativeValidate (ngSubmit)="addQuestion()">
            <div class="form-group">
                <button class="btn btn-primary">Add Question</button>
            </div>
        </form>
    </div>
</div>
<div *ngFor="let Question of ListQuantion">
    <div class="card">
        <a>Question : {{Question.content}}</a><br />
            <ol type="A" >
                 <li *ngFor="let answer of Question.answers" class="{{answer.isCorrect? 'text-danger' : ''}}">{{answer.content}}</li>
            </ol>
        <a class="btn btn-secondary" (click)="removeQuestion(Question.questionId)">Remove Question</a>
    </div>
</div>
