<div class="welcome_teacher center">Create Questions</div>
<div class="row">
    <div class="center">  
        <div>
            <form action="#" class="mx-auto mt-5" ngNativeValidate (ngSubmit)="onSubmit()">
                <p class="h3 text-center"></p>
                <div class="form-group">
                    <label>Content Question:</label>
                    <input type="text" name="QuizName" [(ngModel)]="question.content" class="form-control"
                           maxlength="500" required
                           placeholder="Content Question">
                </div>

                <div class="form-group">
                    <label>Correct answer: :</label>
                    <input type="text" name="correctAnswer" [(ngModel)]="correctAnswer" class="form-control"
                           maxlength="500" required
                           placeholder="Correct answer:">
                </div>

                <div class="form-group">
                    <label>Other answer: :</label>
                    <div class="inline">
                        <input type="text" name="txtOtherAnswer" [(ngModel)]="otherAnswer"
                               maxlength="500"
                               placeholder="Other answer:">
                        <a class="btn btn-outline-success" (click)="addChocie()">+</a>
                    </div>
                </div>
                <form *ngFor="let fg of otherChoice">
                    <div class="inline">
                        <input type="text" id="otherchoice" name="txtOther" value="{{fg}}">
                        <a class="btn btn-outline-danger" (click)="removeChocie(fg)">-</a>
                    </div>
                </form>
                <div class="form-group">
                    <p class="text-danger">{{ errorCreateQuestion }}</p>
                </div>
                <div class="center-button">
                    <div class="inline">
                        <button class="btn btn-outline-primary button" value="Create" name="btnaction">Create Question</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


