<div class="welcome_teacher center">Create Quiz</div>
<div class="form-quiz">
        <p class="h3 text-center"></p>
        <div class="form-group">
            <strong>Quiz Name:</strong>
            <input type="text" name="NameQuiz" [(ngModel)]="quiz.name" class="form-control"
                   minlength="1" maxlength="500" required value="{{quiz.name}}"
                   placeholder="Content Question">
        </div>

        <div class="form-group">
            <strong>Password Quiz</strong>
            <input type="password" name="PasswordQuizt" [(ngModel)]="quiz.password" class="form-control"
                   maxlength="30" value="{{quiz.password}}"
                   placeholder="Password Quizt">
        </div>

        <div class="form-group" style="width: 100%;">
            <strong>Duration :</strong>
            <div style="width: 100%;">
                <input id="rangeInput" type="range" name="rangeprice" min="1" max="360" oninput="txtduration.value=rangeInput.value"
                       step="1" value="1" [(ngModel)]="quiz.duration" style="width: 80%;" />
                <input id="txtduration" type="number" value="1" [(ngModel)]="quiz.duration" style="width: 20%;" name="txtduration" min="1" max="360" oninput="rangeInput.value=txtduration.value" />
            </div>
        </div>

        <div class="form-group">
            <p class="text-danger">{{ errorCreateQuestion }}</p>
        </div>

</div>
<div class="center-button">
    <div class="inline">
        <a class="btn btn-outline-primary button around-the-button" (click)="addQuestion()">Add Question</a>
        <a class="btn btn-outline-primary button around-the-button" (click)="onSubmit(error,message)">Create Quiz</a>
    </div>
</div>

<div *ngFor="let question of listQuestion ; let i = index">
    <div class="card">
        <div class="form-question">
            <h5>Question {{i + 1}}: {{question.content}}</h5><br />
            <ol type="A">
                <li *ngFor="let answer of question.answers" class="{{answer.isCorrect? 'text-success' : ''}}"><h6>{{answer.content}}</h6></li>
            </ol>
        </div>
        <a class="btn btn-outline-danger remove-button" (click)="removeQuestion(question.questionId)"> Remove Question </a>
    </div>
</div>
<!--form show error-->
<ng-template #error let-c="close" let-d="dismiss">
        <div class="modal-body">
            <div class="form-group" style="text-align:center;">
                <p class="text-danger">{{ errorCreateQuzt }}</p>
            </div>
        </div>
</ng-template>
<!--form show success-->
<ng-template #message let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="form-group" style="text-align:center;">
            <p class="text-success">{{ massageCreateQuizt }}</p>
        </div>
    </div>
</ng-template>
