<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/"><h3 class="font-weight-bold mt-2">Let💕Quiz</h3></a>
            <ng-container *ngIf="(currentAccount$ | async) as account">
                <ul class="navbar-nav mr-auto">
                    <ng-container *ngIf="!account.isTeacher">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student-index" routerLinkActive="active">Quizess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/student-histories-quiz" routerLinkActive="active">Histories</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="account.isTeacher">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/teacher-index" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/createQuizt" routerLinkActive="active">Create Quiz</a>
                        </li>
                    </ng-container>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/student/profile" routerLinkActive="active">{{account.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()" style="cursor: pointer">Log out</a>
                    </li>
                </ul>
            </ng-container>

        </div>
    </nav>
</header>
