/* nav {
    background: #798188;
    height: 100vh;
}

.nav-link, .h2 {
    color: #ffffffd7;
}

.nav-link {
    font-size: 20px;
} */

.h2 {
    font-size: 30px;
}

a {
    cursor: pointer;
}

.bg-primary {
    background-color: azure !important;
}


.btn-info {
    background-color: #e63d4b !important;
}

.card-text {
    min-height: 130px;
}

.card {
    border-radius: 5%;
}

.card:hover {
    background-color: white !important;
}
