<div class="center">
    <div class="title">Welcome To Let Quiz</div>
</div>
<form (ngSubmit)="search()">
    <div class="form-group">
        <input type="text" name="searchValue" class="form-control" placeholder="Search..." style="width: 85%;display: inline-block;" [(ngModel)]="searchValue">
        <button class="btn btn-outline-primary" style="width: 15%;">Search</button>
    </div>
</form>
<div class="col-12">
    <div class="center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>No.</b></td>
                    <td><b>Name</b></td>
                    <td><b>Create Date</b></td>
                    <td><b>Duration</b></td>
                    <td><b>Max Point</b></td>
                    <td><b>Status</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let quiz of quizzes; let i = index'>
                    <td>{{i+1}}</td>
                    <td>{{quiz.name}}</td>
                    <td>{{quiz.createDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{quiz.duration}}</td>
                    <td>{{quiz.maxPoint}}</td>
                    <td>
                        {{quiz.isExpire? "Closed" : "Opening"}}
                    </td>
                    <td><a class="btn btn-outline-success" (click)="view(quiz.quizId)">View Detail</a></td>
                    <td><a class="btn btn-outline-danger" (click)="closeConfirm(close, quiz.quizId)">Close</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
        <li class="page-item"><div class="page-link">{{ pagingQuiz.currentPage }} / {{ pagingQuiz.maxPage }}</div></li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
</nav>

<ng-template #close let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Close Quiz</h4>
        <button class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Do you want to close this quiz?</p>
        <div class="form-group">
            <p class="text-danger">{{ err }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeQuiz()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="d('Cross click')">No</button>
    </div>
</ng-template>


